*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}


/*********************
      GALERIA
*********************/

.gallery {
  max-width: 950px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  justify-self: center;
  gap: 1rem;

}

.gallery__item {
    background-color: rgb(40, 82, 83);
}

.gallery__img{
   width: 100%;
   height: 100%;
}